@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src:
    url('../fonts/MarkPro.woff2') format('woff2'),
    url('../fonts/Mark-Pro.ttf') format('truetype');
}
@font-face {
  font-family: 'Mark Pro';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src:
    url('../fonts/MarkPro-Bold.woff2') format('woff2'),
    url('../fonts/Mark-Pro-Bold.ttf') format('truetype');
}
body {
  font-family:
    'Mark Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  color: #555555;
}
